<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDbDatabaseName" value="ProcessAutomation" />
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true" />
    <add key="IdGmail" value="processautomationmailsystem@gmail.com" />
    <add key="PassGmail" value="automation2020" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>